<% if @words.present? %>
  <% @words.each do |word| %>
    <%= render 'words/word', word: word %>
  <% end %>  
<% else %>
  <h4>No result found, check this word:</h4>

  <%= render 'words/word', word: @random_word %>
<% end %>
