<!DOCTYPE html>
<html lang="ms">
  <head>
    <%= stylesheet_link_tag    'image' %>
    <%= javascript_include_tag 'image' %>
  </head>

  <body>
    <div class="image">
      <h1 id="title" class="text-color-primary text-center"><span><%= @definition.original_word %></span></h1>
      <p id="definition"><span><%= parse_linked_words @definition.definition %></span></p>
      <footer>
        <img src="/logo-alt-dark-small.png"/>
      </footer>
    </div>
  </body>
</html>
