<div class="callout">
  <h5><%= user.handle %></h5>
  <p>
    <span class="text-color-primary" title="Significant votes plus significant submitted definitions likes"><%= pluralize(@user.points, 'Point') %></span>
    <br/>
    <span class="text-color-gray">Joined</span> <%= local_time user.created_at, :med %>
    <br/>
    <span class="text-color-gray">Submitted</span> <%= pluralize(user.definitions.ids.size, 'definition') %>
  </p>
</div>