<% if @definitions.present? %>
  <p><%= pluralize(@definitions.size, 'definition') %> posted by <%= @user.handle %></p>
  <% @definitions.each do |definition| %>
    <%= render 'words/word', word: definition.word, definition: definition %>
  <% end %>
  <%= paginate @definitions %>
<% else %>
  <h4>No definition posted</h4>
<% end %>
