<div class="row">
  <div class="columns medium-8 ">
    <div class="show-for-small-only"><%= render @user %></div>

    <% if @definitions.present? %>
      <% @definitions.each do |definition| %>
        <%= render 'words/word', word: definition.word, definition: definition %>
      <% end %>
      <%= paginate @definitions %>
    <% else %>
      <h4>No definition posted</h4>
    <% end %>
  </div>

  <div class="columns medium-4">
    <% provide :sidebar, (render 'sidebar', user: @user) %>
    <%= render 'layouts/partials/sidebar', hide_add_button: true %>
  </div>
</div>
