<h1>API</h1>

<h3>Words</h3>
<table>
  <thead>
    <tr>
      <th>Verb</th>
      <th>Path</th>
      <th>Params</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GET</td>
      <td>/words</td>
      <td>page:number</td>
      <td>Retrieve all words</td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/words/:id</td>
      <td>page:number</td>
      <td>Retrieve all definitions for a word</td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/words/:id/best-definition</td>
      <td></td>
      <td>Retrieve the best definition for a word</td>
    </tr>
  </tbody>
</table>

<h3>Definitions</h3>
<table>
  <thead>
    <tr>
      <th>Verb</th>
      <th>Path</th>
      <th>Params</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GET</td>
      <td>/defintions/:id</td>
      <td></td>
      <td>Retrieve a definition.</td>
    </tr>
  </tbody>
</table>
