<% if @definition.user.id == guest_user_id_session %>
  <div class="callout secondary">
    <h6> 
      <%= link_to 'Login', new_user_session_path %>
      or
      <%= link_to 'sign up', new_user_registration_path %>
      now to claim this definition.
    </h6>
  </div>
<% end %>

<%= render 'definitions/definition', definition: @definition %>
