<% if words.present? %>
  <div class="row">
    <div class="columns small-12">
      <div class="callout">
        <h5>Related words</h5>
        <ul>
          <% words.each do |word| %>
            <li>
              <%= link_to word.word, word_path(word) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>