<div class="row">
  <div class="medium-12 columns">
    <div class="callout">
      <ul class="words-list">
        <% @words.each do |word| %>
          <li><%= link_to word.word, word_path(word) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>