<div class="row">
  <div class="medium-8 columns">
    <div class="callout">
      <ul class="words-list">
        <% @words.each do |word| %>
          <li><%= link_to word.word, word_path(word) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="medium-4 columns">
    <%= render partial: 'layouts/partials/footer' %>
  </div>
</div>
