/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require snackbar.min
 *= require snackbar-material
 *= require lightsaber
 *= require main
 *= require_self
 */

@import 'settings';
$header-styles: (
  small: (
    'h1': ('font-size': 48),
  ),
);
@import 'foundation';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-button;
@include foundation-callout;

@each $name, $color in $foundation-palette {
  .text-color-#{$name} { color:$color; }
}

body, html {
  background: transparent;
  min-width: 300px;
  max-width: 768px;
}

main {
  margin: 0;
  padding: 0;
}

.callout {
  margin-bottom: 0;
}

.definition-details {
  margin-bottom: 0.48em;
  text-overflow: ellipsis;
  overflow: hidden;
  height: $paragraph-lineheight * 2.7em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
