header {
  color: white;
  background: #444455;
}

header .logo {
  float: left;
  font-size: xx-large;
}

header .user-actions {
  float: right;
}

header .user-actions .button {
  margin: 7px 0;
}

header .logo a {
  color: white !important;
}

header ul {
  list-style: none;
  width: 100%;
}

header ul li {
  display: inline-flex;
}