header {
  color: white;
  margin: 0;
  padding: 0;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
    width: auto;
}

.top-bar:nth-child(2) {
  padding-top: 0;
}

.top-bar input {
  margin: 0; 
}

.top-bar-title {
  display: inline-block;
  padding: 0;
  padding-top: 4px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  vertical-align: -webkit-baseline-middle;
}

.top-bar-title * {
  color: #fafafa !important;
}