/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}

@import 'settings';

body {
  background: $white;
  width: 804px;
  height: 804px;
  margin: 0;
  padding: 100px;
  position: relative;
  border: 10px solid $dark-gray;
  -webkit-font-smoothing: antialiased;
  font-family: 'Droid Serif', sans-serif;
  letter-spacing: 0px;
}

h1, a {
  color: $primary-color;
}

h1 {
  height: 140px;
  width: 804px;
  line-height: 1;
  margin-top: -5px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

p {
  height: 469px;
  width: 804px;
  margin-bottom: 50px;
  line-height: 1.2;
  text-align: justify;
  text-rendering: optimizeSpeed;
  font-weight: 400;
}

footer {
  bottom: 0;
  text-align: center;
}

footer img {
  width: 100px;
}