main {
  padding-top: 15px;
  padding-bottom: 50px;
}

.words-list {
  list-style: none;
  column-count: 3;
}

@media only screen and (max-width: 40.0625em) {
  .words-list {
    column-count: 2;
  } 
}

.button.block {
  width: 100%;
}

.pre-line {
  white-space: pre-line;
}

.button.icon {
  padding: 5px;
}

.a2a_kit {
  position: absolute;
  top: 16px;
  right: 16px;
}

.a2a_kit a * {
  font-size: 32px;
}

.a2a_label {
  display: none;
}

.definition-likes .icons {
  vertical-align: sub;
}

.definition-edit-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

#snackbar-container {
  left: 50%;
  transform: translateX(-50%);
}

.snackbar {
  min-width: 0px;
  text-align: center;
}

.snackbar.snackbar-opened {
  padding: 14px 30px;
}
