main {
  padding-top: 15px;
  padding-bottom: 50px;
}

.words-list {
  list-style: none;
  column-count: 3;
}

@media only screen and (max-width: 40.0625em) {
  .words-list {
    column-count: 2;
  } 
}

.clear {
  clear: both;
}

.pre-line {
  white-space: pre-line;
}

.button.icon {
  padding: 5px;
}

.a2a_kit {
  position: absolute;
  top: 16px;
  right: 16px;
}

.definition-likes .icons {
  vertical-align: sub;
}

.definition-edit-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}