main {
  padding-top: 15px;
}

.words-list {
  list-style: none;
  column-count: 3;
}

@media only screen and (max-width: 40.0625em) {
  .words-list {
    column-count: 2;
  } 
}

.clear {
  clear: both;
}

.pre-line {
  white-space: pre-line;
}

.button.icon {
  padding: 5px;
}
