<header>
  <div class="row">
    <div class="medium-12 columns">
      <div class="row">
        <div class="medium-12 columns">
          <div class="logo">
            <a href="<%= root_path %>"><strong>Kamus</strong>Kita</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-9 medium-10 columns">
          <form  action="/search">
            <input type="text" name="q" placeholder="Search">
          </form>
        </div>
        <div class="small-3 medium-2 columns">
          <%= link_to 'New', new_definition_path, class: 'button block' %>
        </div>
      </div>
    </div>
  </div>
</header>