<header>
  <div class="top-bar">
    <div class="row">
      <div class="middle-12 columns">
        <div class="top-bar-title">
          <a href="<%= root_path %>"><strong>Kamus</strong>Kita</a>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li>
              <%= link_to 'Privacy', privacy_path %>
            </li>
            <li>
              <%= link_to 'Term of Service', tos_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>