<header>
  <div class="top-bar">
    <div class="row">
      <div class="middle-12 columns">
        <div class="top-bar-title">
          <a href="<%= root_path %>"><strong>Kamus</strong>Kita</a>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li>
              <%= link_to 'Home', developer_path %>
            </li>
            <li>
              <%= link_to 'Api', developer_api_path %>
            </li>
            <li>
              <%= link_to 'Embed', developer_embed_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>