<% if notice.present? %>
  <div class="row">
    <div class="medium-12 columns">
      <div class="secondary callout" id="notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>